<%= form_for User.new, {url:"/authentications", method:"post"} do |u|%>
<p>
  <%= u.text_field :email, placeholder: "email" %>
  <%= u.text_field :password, placeholder: "password" %>
  <%= submit_tag('login') %>
</p>



<% end %>
