@import 'bootstrap';

body {
	margin: 0;
}

.row {
	height: 350px;
}

.row2 {
	height: 220px;
}

div {
	margin: 0;
}

#div0 {
	height: 100%;
	background-image: url(http://img.photobucket.com/albums/v470/bananaphone5000/Gorillllas4/AtlanticCityBoardwalk_6-62.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#div1 {
	height: 100%;
	background-image: url(http://img151.imageshack.us/img151/9348/l615atraffic1960slifema.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#div2 {
	height: 100%;
	background-image: url(http://24.media.tumblr.com/tumblr_m5vozbN3it1qcdzk5o1_r1_1280.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#div3 {
	height: 100%;
	background-image: url(http://4.bp.blogspot.com/-H1RW3WNF_ps/TXKXgU5WtNI/AAAAAAAAFDA/MJVdSZNWk7w/s1600/72cbdedd08d89dd6_large.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.div0brand {
/*	position: relative;*/
	margin: 0 auto;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 180px;
	text-align: center;
	padding-top: 70px;

	h1 {
		font-size: 100px;
		
	}

	h2 {
		font-size: 20px;
		text-align: center;
	}

	h3 {
		font-size: 60px;
		text-align: center;
	}
}

.navbar {
	margin: 0;
	height: 75px;
}

#darker {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(50, 50, 50, .5);
}

.milky {
	height: 100%;
	width: 100%;
	background-color: rgba(150, 50, 50, .5);
	z-index: 4;
}

#form1 {
	height: 140px;
	width: 50px;
	border: 0;
	color: gray;
	float: left;
	opacity: .3;

}

input {
	border: solid #DDD 1px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
	display: inline-block;
	color: gray;
}

.login {
	position: relative;
	top: 15px;
	float: right;
	right: 20px;
}

.signup {
	position: relative;
	height: 100%;
	width: 161px;
	top: 15px;
	margin: 0 auto;
}

ul {
	list-style: none;
	display: inline-block;
}

li {
	height: 100%;
}

.userBin {
	position: relative;
}

.userBin img {
	height: 200px;
	float: left;
	margin-top: 1px;
}

.userBinLookDelete {
	position: relative;
	float: left;
	right: 27px;
	margin-right: -26px;
	opacity: .2;
}

.addLookmark {
	position: relative;
	width: 350px;
	left: 10px;
	margin-top: -20px;
}



