<div class="row">
  <div id="div0" class="col-xs-12 col-sm-12 col-md-12">
    <div id="darker">
      <div class="div0brand">
      <h1>Looks</h1><h2>only the finest</h2><h5>that money can buy</h5></div>
    </div>
  </div>
</div>

<div class="row2">
  <div id="div1" class="col-xs-6 col-sm-4 col-md-4"><div class="div0brand"><h3>EXP</h3></div></div>
  <div id="div2" class="col-xs-6 col-sm-4 col-md-4"><div class="div0brand"><h3>GRAIN</h3></div></div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div id="div3" class="col-xs-6 col-sm-4 col-md-4"><div class="div0brand"><h3>GRADE</h3></div></div>
</div>



 
